.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__img {
    max-width: 70px;
    max-height: 70px;
  }

  &__title {
    margin-left: 15px;
    font-size: 1.5rem;
    color: $main-design-color;
    text-transform: uppercase;

    &--bolder {
      text-shadow: currentColor 0px 0px 1px,
      currentColor 0px 0px 1px,
      currentColor 0px 0px 1px,
      currentColor 0px 0px 1px,
      currentColor 0px 0px 1px,
      currentColor 0px 0px 1px;
    }
  }
}

@media (max-width: 767px) {
  .logo__title {
    display: none;
  }
}
